#Junk Files
.DS_Store
.ipynb_checkpoints

.gitattributes/*
.gitattributes
Film Studio Data Analysis-checkpoint.ipynb


# Jupyter Notebook
.ipynb_checkpoints/*
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py
.ipynb_checkpoints
.DS_Store

